extends ../../layouts/default.pug

block main
  .container.mt-4

    .card.shadow-sm.border-0
      .card-body

        if (product.title)
          h2.fw-bold.text-primary.mb-4
            i.fa-solid.fa-box-open.me-2
            | #{product.title}

        .row

          // LEFT IMAGE
          .col-md-5.text-center
            if (product.thumbnail)
              img.rounded.shadow-sm.img-fluid(
                src=product.thumbnail
                style="max-height:350px;object-fit:cover"
              )

          // RIGHT INFO
          .col-md-7

            if (product.price)
              .mb-3
                span.fs-4.fw-bold.text-danger
                  | #{product.price}$

            if (product.discountPercentage)
              .mb-3
                span.badge.bg-warning.text-dark.fs-6
                  | Giảm #{product.discountPercentage}%

            if (product.stock)
              .mb-2
                span.fw-semibold Còn lại:
                span.ms-2 #{product.stock}

            if (product.position)
              .mb-2
                span.fw-semibold Vị trí:
                span.ms-2 #{product.position}

            if (product.status)
              .mb-3
                span.fw-semibold Trạng thái:
                if (product.status === "active")
                  span.badge.bg-success.ms-2 Hoạt động
                else
                  span.badge.bg-danger.ms-2 Dừng hoạt động

            if(role.permissions.includes("products_edit"))
              a.btn.btn-warning.mt-3(
                href=`${prefixAdmin}/products/edit/${product.id}`
              )
                i.fa-solid.fa-pen.me-1
                | Chỉnh sửa

        // DESCRIPTION
        if (product.description)
          hr

          .mt-3
            h4.fw-bold.mb-3
              i.fa-solid.fa-align-left.me-2
              | Mô tả sản phẩm

            .product-description
              p !{product.description}

  script(src="/admin/js/product.js")