extends  ../../layouts/default.pug

block main 
  h1.mb-3 Trang danh sách sản phẩm

  table.table.table-hover.table-sm.align-middle
    thead
      tr
        th STT
        th Hình ảnh
        th Tiêu đề
        th Giá
        th Trạng thái
        th Hành động
    tbody
      each item, index in products
        tr
          td #{index + 1}
          td
            img.rounded(
              src= item.thumbnail
              alt= item.title
              width="80"
            )
          td #{item.title}
          td
            strong #{item.price}
          td
            if(item.status == "active")
              span.badge.bg-success.rounded-pill Hoạt động
            else 
              span.badge.bg-danger.rounded-pill Dừng hoạt động
          td
            button.btn.btn-warning.btn-sm Sửa
            button.btn.btn-danger.btn-sm.ms-1 Xóa

  