extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-5

    // ===== TIÊU ĐỀ =====
    .row
      .col-12
        +box-head("Đặt hàng thành công")

    if(order)

      // ===== THÔNG BÁO =====
      .row.justify-content-center.mt-4
        .col-lg-8
          .card.border.shadow-sm
            .card-body.text-center.py-4

              h4.text-success.fw-bold
                i.bi.bi-check-circle-fill.me-2
                | Đặt hàng thành công

              p.mb-2
                | Cảm ơn bạn đã mua sắm tại cửa hàng.

              p.mb-3
                | Đơn hàng của bạn đang được xử lý.

              p
                span.fw-semibold Mã đơn hàng:
                span.text-primary.fw-bold.ms-2 #{order._id}

      // ===== THÔNG TIN & SẢN PHẨM =====
      .row.mt-5

        // Thông tin giao hàng
        .col-lg-4
          .card.border.shadow-sm.h-100
            .card-body
              h5.fw-bold.mb-3
                i.bi.bi-person.me-2
                | Thông tin giao hàng

              table.table.table-sm
                tbody
                  tr
                    td.fw-semibold Họ tên
                    td #{order.userInfo.fullName}
                  tr
                    td.fw-semibold Điện thoại
                    td #{order.userInfo.phone}
                  tr
                    td.fw-semibold Địa chỉ
                    td #{order.userInfo.address}

        // Danh sách sản phẩm
        .col-lg-8
          .card.border.shadow-sm
            .card-body
              h5.fw-bold.mb-3
                i.bi.bi-bag.me-2
                | Sản phẩm đã đặt

              if(order.products.length > 0)
                .table-responsive
                  table.table.table-bordered.align-middle
                    thead.table-light
                      tr.text-center
                        th STT
                        th Ảnh
                        th.text-start Tên sản phẩm
                        th Giá
                        th SL
                        th Thành tiền
                    tbody
                      each item, index in order.products
                        tr.text-center
                          td #{index + 1}
                          td
                            img(
                              src=item.productInfo.thumbnail
                              width="60"
                            )
                          td.text-start #{item.productInfo.title}
                          td.text-end #{item.priceNew.toLocaleString()}₫
                          td #{item.quantity}
                          td.text-end.fw-bold #{item.totalPrice.toLocaleString()}₫

              hr

              .text-end
                h5.fw-bold
                  | Tổng cộng:
                  span.text-danger.ms-2
                    | #{order.totalPrice.toLocaleString()}₫

    // ===== NÚT ĐIỀU HƯỚNG =====
    .row.mt-5
      .col-12.text-center
        a.btn.btn-primary.me-3(href="/")
          i.bi.bi-house-door.me-2
          | Trang chủ

        a.btn.btn-outline-secondary(href="/products")
          i.bi.bi-cart.me-2
          | Tiếp tục mua sắm