include ../mixins/sub-menu.pug

header.header
  .container
    .row.align-items-center.py-3

      // ===== LOGO =====
      .col-lg-3.col-md-4.col-6
        .inner-logo
          a.d-flex.align-items-center.text-decoration-none(href="/")
            img(src=settingGeneral.logo, alt=settingGeneral.websiteName, height="50")
            span.ms-2.fw-bold.text-primary #{settingGeneral.websiteName}

      // ===== SEARCH =====
      .col-lg-5.d-none.d-lg-block
        form(action="/search" method="GET")
          .input-group
            input.form-control(
              type="text"
              placeholder="Tìm kiếm sản phẩm..."
              name="keyword"
              value=keyword
            )
            button.btn.btn-primary(type="submit")
              i.bi.bi-search

      // ===== MENU =====
      .col-lg-4.col-md-8.col-6
        nav.inner-menu
          ul

            li
              a(href="/") Trang chủ

            li.sub-menu
              - const pathProduct = "/products"
              a(href=pathProduct) Sản phẩm
              +sub-menu(layoutProductsCategory, pathProduct)

            li
              a.position-relative(href="/cart")
                i.bi.bi-cart3.fs-5
                if miniCart && miniCart.totalQuantity > 0
                  span.badge.bg-danger.position-absolute.top-0.start-100.translate-middle.rounded-pill #{miniCart.totalQuantity}

            if(user)
              li.sub-menu
                a(href="/user/info") #{user.fullName}
                ul
                  li
                    a(href="/user/logout") Đăng xuất
            else
              li
                a(href="/user/register") Đăng ký
              li
                a.btn.btn-outline-primary.rounded-pill.px-3(href="/user/login") Đăng nhập