include ../mixins/sub-menu.pug

header.header.shadow-sm.bg-white
  .container
    .row.align-items-center.py-2

      // LOGO
      .col-lg-3.col-md-3.col-6
        .inner-logo
          a.d-flex.align-items-center(href="/")
            img(src="/images/logo2.png", alt="logo", height="60")
            span.ms-2.fw-bold.text-dark Linh Store

      // SEARCH
      .col-lg-5.d-none.d-lg-block
        form(
          action="/search" 
          method="GET"
        )
          .input-group
            input.form-control.rounded-start(
              type="text"
              placeholder="Nhập từ khóa sản phẩm..."
              name="keyword"
              value= keyword
            )
            button.btn.btn-primary.rounded-end(type="submit")
              i.bi.bi-search
              |  Tìm

      // MENU
      .col-lg-4.col-md-9.col-6
        nav.inner-menu
          ul.nav.justify-content-end.align-items-center.mb-0
            li.nav-item
              a.nav-link.fw-semibold(href="/") Trang chủ

            li.nav-item.sub-menu
              - const pathProduct = "/products"
              a.nav-link.fw-semibold(href=pathProduct) Sản phẩm
              +sub-menu(layoutProductsCategory, pathProduct)

            li
              a.position-relative.d-inline-block(href="/cart")
                i.bi.bi-cart3.fs-4
                if miniCart && miniCart.totalQuantity > 0
                  span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-danger #{ miniCart.totalQuantity}
            if(user)
              li.nav-item
                a.nav-link.fw-semibold(href="/user/logout") Đăng xuất
            else 
              
              li.nav-item
                a.nav-link.fw-semibold(href="/user/register") Đăng ký

              li.nav-item
                a.nav-link.fw-semibold(href="/user/login") Đăng nhập