extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  if(role.permissions.includes("roles_view"))
    +alert-success(5000)
    +alert-error(5000)
    .d-flex.justify-content-between.align-items-center.mb-4
      h2.fw-bold.text-primary
        i.fa-solid.fa-user-shield.me-2
        | Nhóm quyền

      if(role.permissions.includes("roles_create"))
        a.btn.btn-success.shadow-sm(
          href=`${prefixAdmin}/roles/create`
        )
          i.fa-solid.fa-plus.me-1
          | Thêm nhóm quyền

    .card.shadow-sm.border-0
      .card-header.bg-light.fw-semibold
        i.fa-solid.fa-list.me-2
        | Danh sách nhóm quyền

      .card-body

        table.table.table-hover.align-middle

          thead.table-light
            tr
              th(width="80") STT
              th Nhóm quyền
              th Mô tả
              th.text-center(width="200") Hành động

          tbody
            if(records.length > 0)

              each item, index in records
                tr
                  td.fw-bold #{index + 1}

                  td
                    span.fw-semibold #{item.title}

                  td.text-muted
                    | #{item.description}

                  td.text-center

                    a.btn.btn-sm.btn-primary.me-1(
                      href=`${prefixAdmin}/roles/detail/${item.id}`
                    )
                      i.fa-solid.fa-eye

                    if(role.permissions.includes("roles_edit"))
                      a.btn.btn-sm.btn-warning.me-1(
                        href=`${prefixAdmin}/roles/edit/${item.id}`
                      )
                        i.fa-solid.fa-pen

                    if(role.permissions.includes("roles_delete"))
                      button.btn.btn-sm.btn-danger(
                      button-delete
                      data-id=item.id
                      )
                        i.fa-solid.fa-trash

            else
              tr
                td.text-center(colspan="4")
                  span.text-muted
                    i.fa-solid.fa-circle-info.me-1
                    | Chưa có nhóm quyền nào được tạo

    form(
      action=""
      method="POST"
      id="form-delete-item"
      data-path=`${prefixAdmin}/roles/delete`
    )
    
    script(src="/admin/js/products.js")