extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/alert.pug
include ../../mixins/form-change-multi.pug

block main  
  if(role.permissions.includes("accounts_view"))
    +alert-success(5000)
    +alert-error(5000)
    h1(class="mb-4") Danh sách tài khoản

    .card.mb-3
      .card-header Bộ lọc và Tìm kiếm
      .card-body
        .row
          .col-6
            +filter-status(filterStatus)
          .col-6
            +search(keyword)

    .card.mb-3 
      .card-header Danh sách 
      .card-body 
        .row 
          .col-8 
            +form-change-multi(`${prefixAdmin}/accounts/change-multi?_method=PATCH`, false)
          .col-4
            if(role.permissions.includes("accounts_create"))
              a(
                href=`${prefixAdmin}/accounts/create`
                class="btn btn-outline-success"
              ) + Thêm mới

        table(
          class="table table-hover table-sm align-middle" 
          checkbox-multi
        )
          thead
            tr
              th 
                input(type="checkbox" name="checkall")
              th STT
              th Hình ảnh
              th Họ tên
              th Phân quyên
              th Email
              th Trạng thái
              th Hành động
          tbody
            if (records.length > 0)
              each item, index in records
                tr
                  td 
                    input(
                      type="checkbox"
                      name="id"
                      value=item.id
                    )
                  td #{pagination.limitItem*(pagination.currentPage - 1) + (index + 1)}
                  td 
                    img(src=item.avatar, alt=item.fullName width="100px" height="auto")
                  td #{item.fullName}
                  if(item.role)
                    td #{item.role.title}
                  else
                    td Chưa có
                  td #{item.email}
                  td 
                    if(role.permissions.includes("accounts_edit"))
                      if(item.status == "active")
                        button(
                          data-status=item.status
                          data-id=item.id
                          button-change-status
                          class="badge bg-success rounded-pill"
                        ) Hoạt động
                      else
                        button(
                          data-status=item.status
                          data-id=item.id
                          button-change-status
                          class="badge bg-danger rounded-pill"
                        ) Dừng hoạt động
                    else 
                      if(item.status == "active")
                        button(
                          class="badge bg-success rounded-pill"
                        ) Hoạt động
                      else
                        button(
                          class="badge bg-danger rounded-pill"
                        ) Dừng hoạt động
                  td
                    a(
                      class="btn btn-secondary btn-sm"
                      href=`${prefixAdmin}/accounts/detail/${item.id}`
                    ) Chi tiết
                    if(role.permissions.includes("accounts_edit")) 
                      a(
                        class="btn btn-warning btn-sm ms-1"
                        href=`${prefixAdmin}/accounts/edit/${item.id}`
                      ) Sửa
                    if(role.permissions.includes("accounts_delete"))
                      button.btn.btn-danger.btn-sm.ms-1(
                        button-delete
                        data-id = item.id
                      )  Xóa
            else
              tr
                td(colspan="4" class="text-center")
                |  Chưa có bất kì tài khoản Admin nào 

    +pagination(pagination)


    form(
      action=""
      method="POST"
      id="form-change-status"
      data-path=`${prefixAdmin}/accounts/change-status`
    )

    form(
      action=""
      method="POST"
      id="form-delete-item"
      data-path=`${prefixAdmin}/accounts/delete`
    )


    script(src="/admin/js/products.js") 