extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug

block main
  if(role.permissions.includes("products-category_edit"))
    h1.mb-4 Chỉnh sửa danh mục sản phẩm

    +alert-error(5000)

    form(
      action= `${prefixAdmin}/products-category/edit/${data._id}?_method=PATCH`
      method="POST"
      enctype="multipart/form-data"
    )
      // Tiêu đề
      .mb-3
        label.form-label(for="title") Tiêu đề
        input.form-control(
          type="text"
          id="title"
          name="title"
          required
          value= data.title
        )

      // Danh mục cha
      .mb-3
        label.form-label(for="parent_id") Danh mục cha
        select(
          name="parent_id"
          id="parent_id"
          class="form-select"
        )
          option(value="") -- Chọn danh mục cha --
          if(records) 
            +select-tree(records,1,data.parent_id)

      // Mô tả
      .mb-3
        label.form-label(for="desc") Mô tả
        textarea.form-control(
          id="desc"
          name="description"
          rows="5"
          class="textarea-mce"
        ) #{data.description}

      // Ảnh
      div(
        class="form-group"
        upload-image
      )
        label(for="thumbnail") Ảnh
        input(
          type="file"
          class="form-control-file"
          id="thumbnail"
          name="thumbnail"
          accept="image/*"
          upload-image-input
        )
        img(
          src=data.thumbnail
          upload-image-preview
          class="image-preview"
        )


      // Vị trí
      .mb-3
        label.form-label(for="position") Vị trí
        input.form-control(
          type="number"
          id="position"
          name="position"
          placeholder="Tự động tăng"
          min="1"
          value = data.position
        )

      // Trạng thái
      .mb-3
        .form-check.form-check-inline
          input.form-check-input(
            type="radio"
            id="statusActive"
            name="status"
            value="active"
            checked=(data.status == "active" ? true : false)
          )
          label.form-check-label(for="statusActive") Hoạt động

        .form-check.form-check-inline
          input.form-check-input(
            type="radio"
            id="statusInActive"
            name="status"
            value="inactive"
            checked=(data.status == "inactive" ? true : false)
          )
          label.form-check-label(for="statusInActive") Dừng hoạt động

      // Submit
      .mb-3
        button.btn.btn-primary(type="submit") Cập nhật
