extends  ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug
include ../../mixins/table-tree.pug

block main
  if(role.permissions.includes("products-category_view"))

    +alert-success(5000)
    +alert-error(5000)

    .page-header.d-flex.justify-content-between.align-items-center.mb-4
      h3.fw-bold.mb-0
        i.fas.fa-sitemap.me-2.text-primary
        | Danh mục sản phẩm

      if(role.permissions.includes("products-category_create"))
        a.btn.btn-primary(
          href=`${prefixAdmin}/products-category/create`
        )
          i.fas.fa-plus.me-1
          | Thêm danh mục

    // FILTER
    .card.shadow-sm.border-0.mb-4
      .card-header.bg-light.fw-bold
        i.fa-solid.fa-filter.me-2
        | Bộ lọc & Tìm kiếm
      .card-body
        .row.g-3
          .col-md-6
            +filter-status(filterStatus)
          .col-md-6
            +search(keyword)

    // PRODUCT TABLE
    .card.shadow-sm.border-0
      .card-header.bg-white.fw-bold
        i.fa-solid.fa-table.me-2
        | Danh sách danh mục

      .card-body

        .row.mb-3
          .col-md-8
            +form-change-multi(`${prefixAdmin}/products-category/change-multi?_method=PATCH`, true)

        table.table.admin-table.align-middle.mb-0(checkbox-multi)

          thead
            tr
              th(width="40")
                input(type="checkbox" name="checkall")

              th(width="60") STT
              th(width="120") Hình
              th Tiêu đề
              th(width="100") Vị trí
              th(width="130") Trạng thái
              th(width="160") Hành động

          tbody
            +table-tree(records)

    .mt-3
      +pagination(pagination)

    form(
      action=""
      method="POST"
      id="form-change-status"
      data-path=`${prefixAdmin}/products-category/change-status`
    )

    form(
      action=""
      method="POST"
      id="form-delete-item"
      data-path=`${prefixAdmin}/products-category/delete`
    )

    script(src="/admin/js/products.js")