mixin table-tree(items, level = 1)

  each item, index in items

    - const prefix = Array(level + 1).join("› ")

    tr

      td
        input(type="checkbox" name="id" value=item.id)

      td.fw-semibold #{item.index}

      td
        img.category-img(
          src=item.thumbnail
          alt=item.title
        )

      td
        span.category-title #{prefix}#{item.title}

      td
        input.form-control.form-control-sm.position-input(
          type="number"
          value=item.position
          min="1"
        )

      td
        if(item.status == "active")
          span.badge.status-active Hoạt động
        else
          span.badge.status-stop Dừng

      td
        .action-buttons

          a.btn.btn-sm.btn-view(
            href=`${prefixAdmin}/products-category/detail/${item.id}`
          )
            i.fas.fa-eye

          if(role.permissions.includes("products-category_edit"))
            a.btn.btn-sm.btn-edit(
              href=`${prefixAdmin}/products-category/edit/${item.id}`
            )
              i.fas.fa-pen

          if(role.permissions.includes("products-category_deleted"))
            button.btn.btn-sm.btn-delete(
              button-delete
              data-id=item.id
            )
              i.fas.fa-trash

    if item.children && item.children.length > 0
      +table-tree(item.children, level + 1)