extends ../../layouts/default.pug

block main
  h3.fw-bold.mb-4.text-dark
    i.fas.fa-chart-line.me-2.text-primary
    Trang tổng quan

  .row.g-4

    .col-xl-3.col-md-6
      .stat-card
        .icon.bg-primary
          i.fas.fa-list
        .info
          span.title Danh mục sản phẩm
          h2 #{statistic.categoryProduct.total}
          p
            span.text-success #{statistic.categoryProduct.active} hoạt động
            |  /
            span.text-danger #{statistic.categoryProduct.inactive} dừng

    .col-xl-3.col-md-6
      .stat-card
        .icon.bg-success
          i.fas.fa-box
        .info
          span.title Sản phẩm
          h2 #{statistic.product.total}
          p
            span.text-success #{statistic.product.active} hoạt động
            |  /
            span.text-danger #{statistic.product.inactive} dừng

    .col-xl-3.col-md-6
      .stat-card
        .icon.bg-warning
          i.fas.fa-user-shield
        .info
          span.title Admin
          h2 #{statistic.account.total}
          p
            span.text-success #{statistic.account.active} hoạt động
            |  /
            span.text-danger #{statistic.account.inactive} dừng

    .col-xl-3.col-md-6
      .stat-card
        .icon.bg-info
          i.fas.fa-users
        .info
          span.title Client
          h2 #{statistic.user.total}
          p
            span.text-success #{statistic.user.active} hoạt động
            |  /
            span.text-danger #{statistic.user.inactive} dừng

  .row.mt-5
    .col-md-6
      .profile-card
        .text-center
          if(user.avatar)
            img.avatar(src=user.avatar)

          h4.mt-3 #{user.fullName}

          if(role.title)
            span.badge.bg-primary #{role.title}

          .mt-3
            if(user.email)
              p
                i.fas.fa-envelope.me-2
                | #{user.email}

            if(user.phone)
              p
                i.fas.fa-phone.me-2
                | #{user.phone}